---
import Container from "../components/Container.astro";
import CommunityCard from "../components/CommunityCard.astro";
import Base from "../layouts/Base.astro";
import { SITE_TITLE } from "../consts";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import "@fontsource/montserrat/900.css";
import heroAvatar from "../images/heroAvatar.jpg";

const communities = (await getCollection("communities")).sort((a, b) => {
    const startDiff = b.data.years.start - a.data.years.start;
    if (startDiff != 0) return startDiff;

    let aEnd;
    let bEnd;
    if (a.data.years.end == "Actual") aEnd = 9999;
    else aEnd = a.data.years.end;
    if (b.data.years.end == "Actual") bEnd = 9999;
    else bEnd = b.data.years.end;

    return +bEnd - +aEnd;
});

// TODO: use `astro-icon`.
// TODO: Flow component.
// TODO: Add some pretty animations where needed.
// TODO: Force content sources to provide `alt` for images.
// TODO: utils to simplify sorting
// TODO: group projects images per project
---

<Base title={SITE_TITLE}>
    <main class="bg-slate-200 text-center">
        <Container class="lg:py-[11vh]" large={true}>
            <div
                class="grid grid-cols-1 items-center justify-items-center gap-3 lg:grid-cols-2"
            >
                <Image
                    class="aspect-square rounded-full object-cover object-[center,10%]"
                    width={500}
                    src={heroAvatar}
                    alt="Denny's Image"
                />
                <section>
                    <h1 class="mb-2 font-['Montserrat'] text-7xl">
                        Denny Perez
                    </h1>
                    <p class="mb-3 text-2xl font-light">
                        QA Analyst - Python Community Manager
                    </p>
                    <hr class="mx-16 mb-5 border-black" />
                    <ul class="space-y-5 text-xl">
                        <li>
                            <a
                                class="flex h-20 justify-center rounded-lg border-2 border-black transition hover:bg-white hover:text-black focus:bg-white focus:text-black lg:mx-10"
                                href=""
                            >
                                <div
                                    class="flex items-center justify-center gap-2"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        viewBox="0 0 448 512"
                                        fill="currentColor"
                                    >
                                        <path
                                            d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4 .1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8 .1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3 .1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"
                                        ></path>
                                    </svg>
                                    <p>Comunidad Python</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a
                                class="flex h-20 justify-center rounded-lg border-2 border-black transition hover:bg-white hover:text-black focus:bg-white focus:text-black lg:mx-10"
                                href="https://www.youtube.com/playlist?list=PLiWnZAmBoObqMK1XYj0VcI5qQ8t3dZ4DX"
                            >
                                <div
                                    class="flex items-center justify-center gap-2"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                                        ></path>
                                    </svg>
                                    <p>Comunidad Github</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a
                                class="flex h-20 justify-center rounded-lg border-2 border-black transition hover:bg-white hover:text-black focus:bg-white focus:text-black lg:mx-10"
                                href=""
                            >
                                <div
                                    class="flex items-center justify-center gap-2"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="currentColor"
                                        viewBox="0 0 640 512"
                                    >
                                        <path
                                            d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"
                                        ></path>
                                    </svg>
                                    <p>Camino DevRel</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </Container>
    </main>
    <section>
        <Container usePy={false} large={true} class="space-y-4">
            <a href="#comunidades" name="comunidades">
                <h2 class="pt-8 text-center text-3xl">Comunidades</h2>
            </a>
            <p class="prose-xl mx-auto pb-4 text-center sm:text-left">
                He tenido el privilegio de colaborar activamente con diversas
                comunidades tecnológicas que comparten mi pasión por el
                aprendizaje, la inclusión y la colaboración. Estas experiencias
                han sido clave para mi desarrollo profesional, permitiéndome
                contribuir como mentora, organizadora y defensora de iniciativas
                que fortalecen nuestras comunidades.
            </p>
            <!-- TODO: Mesanry layout -->
            <div
                class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:gap-4 lg:grid-cols-3"
            >
                {communities.map((c) => <CommunityCard {...c} />)}
            </div>
        </Container>
    </section>
</Base>
