---
import FormattedDate from "../components/FormattedDate.astro";
import Container from "../components/Container.astro";
import Base from "./Base.astro";

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<Base title={title} description={description} image={heroImage}>
    <main>
        <Container>
            <!-- TODO: Margins are _way too big_ on mobile -->
            <article class="prose mx-auto lg:prose-xl prose-hr:my-3">
                <Image
                    class="overflow-hidden rounded-md"
                    src={heroImage}
                    alt=""
                />
                Fecha de publicación: <FormattedDate date={pubDate} />
                <hr />
                <slot />
            </article>
        </Container>
    </main>
</Base>
