---
import Container from "../components/Container.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

type Card = {
  title?: string;
  url: string;
  image: ImageMetadata;
  date?: Date;
  tags?: string[];
};

type Props = { items: Card[] };

const { items } = Astro.props;
---

<Container>
  <ul
    class="grid grid-cols-[repeat(auto-fit,minmax(min(300px,100%),1fr))] gap-3"
  >
    {
      items.map(({ title, url, image, date, tags }) => (
        <a class="rounded bg-(--clr-neutral-100)" href={url}>
          <li class="overflow-hidden pb-2">
            <Image
              class="transition-all duration-300 ease-in-out hover:scale-103"
              src={image}
              alt={""}
            />
            <div class="px-3">
              {title && (
                /* TODO: Change text underline color */
                <h2 class="pt-2 text-lg font-bold hover:underline focus:underline">
                  {title}
                </h2>
              )}
              {date && <FormattedDate class="text-sm" date={date} />}
              {tags && tags.length != 0 && (
                <ul class="flex flex-wrap gap-2 pt-4">
                  {tags.map((tag) => (
                    <li class="rounded border px-2 py-0.5 text-sm text-(--clr-accent-900)">
                      {/* TODO: This should be inside an <a> tag */}
                      {tag}
                    </li>
                  ))}
                </ul>
              )}
            </div>
          </li>
        </a>
      ))
    }
  </ul>
</Container>
